@charset "UTF-8";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-color: #FFFFFF;
}

:where(fieldset, input, button) {
  border: none;
  outline: none;
}

:is(menu, ul) {
  list-style: none;
}

.hidden {
  display: none;
}

[data-recipe-article].found {
  display: flex;
}

[data-recipe-article].notfound {
  display: none;
}

[data-recipe-article] {
  flex-direction: column;
  background-color: #E7E7E7;
  border-radius: 5px;
  width: 380px;
  height: 364px;
}
[data-recipe-article] > [data-recipe-image] {
  background-color: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
  height: 178px;
}
[data-recipe-article] > [data-recipe-container] {
  height: 186px;
  font-size: 12px;
  padding: 15px 18px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-header] {
  display: flex;
  justify-content: flex-end;
  height: 45px;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-header] [data-recipe-name] {
  font-weight: 400;
  font-size: 18px;
  padding-left: 2px;
  margin-right: auto;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-header] img {
  align-self: start;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-header] [data-recipe-time] {
  font-weight: 700;
  font-size: 18px;
  padding: 0px 2px 0px 7px;
  white-space: nowrap;
  align-self: start;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] {
  display: flex;
  justify-content: space-between;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-ingredients-list] {
  width: 171px;
  line-height: 14.4px;
  padding-left: 2px;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-ingredients-list-item] span[data-recipe-ingredient] {
  font-weight: 700;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-ingredients-list-item] span[data-recipe-ingredient-has-quantity=yes] {
  font-weight: 700;
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-ingredients-list-item] span[data-recipe-ingredient-has-quantity=yes]::after {
  content: ":" " ";
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-ingredients-list-item] span[data-recipe-unit-abbreviated=no]::before {
  content: " ";
}
[data-recipe-article] > [data-recipe-container] [data-recipe-body] [data-recipe-description] {
  font-family: "Roboto", sans-serif;
  width: 171px;
  line-height: 12px;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdownMenu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.backgroundColor--1 {
  background-color: #3282F7;
}
.backgroundColor--2 {
  background-color: #68D9A4;
}
.backgroundColor--3 {
  background-color: #ED6454;
}

.dropdownListItem {
  display: grid;
  height: 69px;
  border-radius: 5px;
  color: #FFFFFF;
  align-items: center;
}
.dropdownListItem > :is(input, label, img) {
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-weight: 700;
}
.dropdownListItem > :is(input, label, menu) {
  font-size: 18px;
  padding: 19px;
}
.dropdownListItem > :is(input, label) {
  width: 170px;
  height: inherit;
}
.dropdownListItem:focus-within > label {
  display: none;
}
.dropdownListItem:focus-within > input {
  width: 90%;
}
.dropdownListItem:focus-within > img {
  transform: rotate(180deg);
}
.dropdownListItem:focus-within > menu {
  display: grid;
}
.dropdownListItem:focus-within > input::placeholder {
  opacity: 0.8;
}
.dropdownListItem:not(:focus-within) > input::placeholder {
  opacity: 0;
}
.dropdownListItem > input {
  padding-right: 30px;
  color: inherit;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}
.dropdownListItem > input:focus {
  cursor: text;
}
.dropdownListItem > input::placeholder {
  color: #FFFFFF;
  font-weight: 400;
}
.dropdownListItem > input:where(:focus-within)::placeholder {
  opacity: 0.8;
}
.dropdownListItem > input:where(:not(:placeholder-shown)) + label {
  opacity: 0;
}
.dropdownListItem > input:where(:focus-within) + label {
  display: none;
}
.dropdownListItem > input:where(:focus-within) ~ menu {
  display: grid;
}
.dropdownListItem > input:where(:focus-within) ~ img {
  transform: rotate(180deg);
}
.dropdownListItem > label {
  display: flex;
  justify-content: left;
  align-items: center;
}
.dropdownListItem > img {
  justify-self: end;
  margin-right: 26px;
  width: 16px;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}
.dropdownListItem > menu {
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  gap: 1rem 7rem;
  justify-content: space-between;
  justify-items: left;
  width: inherit;
  background-color: inherit;
  padding-right: 1.625rem;
  border-radius: 0px 0px 5px 5px;
  transform: translateY(-5px);
  z-index: 3;
  display: none;
}
@media screen and (width < 873px) {
  .dropdownListItem > menu {
    grid-template-columns: 1fr;
  }
}
.dropdownListItem > menu:hover {
  display: grid;
}
.dropdownListItem > menu > li:where(.notHidden) {
  background-color: inherit;
  cursor: pointer;
}
.dropdownListItem > menu > li:where(.notHidden):hover {
  text-shadow: 0.03rem 0.03rem #FFFFFF;
}
.dropdownListItem > menu > li:where(.notHidden):focus {
  outline: solid 2px #FFFFFF;
}
.dropdownListItem > menu > li:where(.hidden) {
  display: none;
}
.dropdownListItem > menu > li.tagged {
  display: none;
}
.dropdownListItem > menu[data-error]::before {
  content: attr(data-error);
}
.dropdownListItem > menu[data-empty]::after {
  content: attr(data-empty);
}
.dropdownListItem > menu[data-error]::before,
.dropdownListItem menu[data-empty]::after {
  font-size: 1rem;
  color: #000000;
  display: none;
}
.dropdownListItem > menu[data-error-visible=true]::before,
.dropdownListItem menu[data-empty-visible=true]::after {
  display: flex;
}

.searchBar > :is(input, button) {
  background-color: #E7E7E7;
  height: 70px;
}
.searchBar > input {
  border-radius: 5px 0px 0px 5px;
  font-size: 1.125rem;
  color: #000000;
  padding-left: 1.5rem;
  width: 95%;
}
@media screen and (width < 873px) {
  .searchBar > input {
    width: 90%;
  }
}
.searchBar > button {
  border-radius: 0px 5px 5px 0px;
  width: 5%;
}
@media screen and (width < 873px) {
  .searchBar > button {
    width: 10%;
  }
}

[data-ingredient] {
  background-color: #3282F7;
}

[data-appliance] {
  background-color: #68D9A4;
}

[data-utensil] {
  background-color: #ED6454;
}

#tagMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#tagMenu > li {
  display: inline-flex;
  color: #FFFFFF;
  height: 37px;
  border-radius: 5px;
}
#tagMenu > li > span {
  padding: 11px 12px 13px 20px;
  font-size: 14px;
  font-weight: 700;
}
#tagMenu > li > button {
  padding-right: 22px;
  align-self: center;
  outline: none;
  border: none;
  background-color: inherit;
}
#tagMenu > li > button > img {
  border: 2px solid transparent;
  border-radius: 50%;
}
#tagMenu > li > button:focus > img {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #D04F4F;
}

:where(main) {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 3vw;
  gap: 1rem;
}

:where(form) {
  display: grid;
  gap: 1rem;
}

:where(form) > fieldset {
  display: flex;
  width: 100%;
}

:where([data-recipes-section]) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (width < 873px) {
  :where([data-recipes-section]) {
    justify-content: center;
  }
}
@media screen and (873px <= width < 1285px) {
  :where([data-recipes-section]) {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
