//Font variables
$font-logo: 'DM Sans', sans-serif;
$font-body: 'Lato', sans-serif;
$font-description: 'Roboto', sans-serif;

//Color variables
$color-h1: #D04F4F;

$color-1: #3282F7; //ingredients
$color-2: #68D9A4; //appliances
$color-3: #ED6454; //utensils

$color-page: #FFFFFF; //page background
$color-card: #E7E7E7; //card body color
$color-searchbar: #E7E7E7; //input background color
$color-img-placeholder: #C7BEBE; //card top img placeholder

$color-text-white: #FFFFFF; //dropdown and tag text
$color-text-black: #000000; //site text