@use "../abstracts" as *;

[data-recipe-article] {
    display: flex;
    flex-direction: column;
    background-color: $color-card;
    border-radius: 5px;
    width: 380px;
    height: 364px;
    & > [data-recipe-image] {
        background-color: $color-img-placeholder;
        border-radius: 5px 5px 0px 0px;
        height: 178px;
    }
    & > [data-recipe-container] {
        height: 186px;
        font-size: 12px;
        padding: 15px 18px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & [data-recipe-header] {
            display: flex;
            justify-content: flex-end;
            height: 45px;
            & [data-recipe-name] {
                font-weight: 400;
                font-size: 18px;
                padding-left: 2px;
                margin-right: auto;
            }
            & img {
                align-self: start;
            }
            & [data-recipe-time] {
                font-weight: 700;
                font-size: 18px;
                padding: 0px 2px 0px 7px;
                white-space: nowrap;
                align-self: start;
            }
        }
        & [data-recipe-body] {
            display: flex;
            justify-content: space-between;
            & [data-recipe-ingredients-list] {
                width: 171px;
                line-height: 14.4px;
                padding-left: 2px;
            }
            & [data-recipe-ingredients-list-item] {
                & span[data-recipe-ingredient] {
                    font-weight: 700;
                }
                & span[data-recipe-ingredient-has-quantity="yes"] {
                    font-weight: 700;
                    &::after {
                        content: ":" "\00a0";
                    }
                }
                & span[data-recipe-unit-abbreviated="no"] {
                    &::before {
                        content: "\00a0";
                    }
                }
            }
            & [data-recipe-description] {
                font-family: $font-description;
                width: 171px;
                line-height: 12px;
                -webkit-line-clamp: 6;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}