@use "../abstracts" as *;

[data-recipe-article].found {
    display: flex;
}

[data-recipe-article].notfound {
    display: none;
}

[data-recipe-article] {
    flex-direction: column;
    background-color: $color-card;
    border-radius: 5px;
    max-width: 380px;
    height: 364px;
    @include smallScreen{
        width: 95vw;
        margin: auto;
    }
    & > :where(.recipe__image){
        background-color: $color-img-placeholder;
        border-radius: 5px 5px 0px 0px;
        height: 178px;
        display: grid;
        place-items: center;
    }
    & > :where(.recipe__container){
        height: 186px;
        font-size: 12px;
        padding: 15px 18px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        @include smallScreen{
            gap: 1.1rem;
            padding: 7.5px 9px;
            min-height: 186px;
        }
        & > :where(.recipe__header) {
            display: flex;
            justify-content: flex-end;
            height: 45px;
            & > :where(h2[itemprop="name"]) {
                font-weight: 400;
                font-size: 18px;
                padding-left: 2px;
                margin-right: auto;
            }
            & > :where(img) {
                align-self: start;
            }
            & > :where(time) {
                font-weight: 700;
                font-size: 18px;
                padding: 0px 2px 0px 7px;
                white-space: nowrap;
                align-self: start;
            }
        }
        & > :where(.recipe__body) {
            display: flex;
            gap: 0.5rem;
            & > :where(.ingredientsList){
                width: 50%;
                line-height: 14.4px;
                padding-left: 2px;
                & > :where(.ingredientsListItem){
                    & span[data-recipe-ingredient] {
                        font-weight: 700;
                    }
                }
            }
            & > :where(div) {
                width: 50%;
                & > :where(p[itemprop="recipeInstructions"]) {
                    font-family: $font-description;
                    line-height: 12px;
                    -webkit-line-clamp: 6;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}