@use "../abstracts" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-body;
    height: 100vh;
    background-color: $color-page;
}
