@use "../abstracts" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-body;
    height: 100vh;
    background-color: $color-page;
}

//Resets
:where(fieldset, input, button) {
    border: none;
    outline: none;
}

:is(menu, ul) {
    list-style: none;
}

.hidden {
    display: none;
}